# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]ser[Ss]ettings/
[Pp]ackages/manifest.json.meta
[Pp]ackages/packages-lock.json

# Visual Studio / Rider
.vs/
*.csproj
*.sln
*.suo
*.user
*.unityproj
*.booproj
*.pidb
*.svd
*.pdb
*.mdb
*.opendb

# Mac OS
.DS_Store

# Windows
Thumbs.db
